{% extends "layouts/base.html" %}
{% block content %}
<div class="column is-4 is-offset-4" style="margin-left:10px; margin-top:100px">
    <h3 class="title" style="text-align:center">Sign Up</h3>
    <div class="box">
        <form method="post" action="{{ url_for('auth.signup') }}">
            <div class="field">
                <label class="label" for="email">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" id="password" placeholder="Password" required>
                </div>
            </div>
            <div class="field">
              <label class="label" for="phone">Phone</label>  <!-- New field -->
              <div class="control">
                  <input class="input" type="text" name="phone" id="phone" placeholder="Phone Number" required>
              </div>
          </div>
            <button class="button is-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}