<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Cloud Photos
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>
<body>
    <div class="main-container">
        {% with logged_in = current_user.is_authenticated %}
            {% include 'partials/header.html' %}
        {% endwith %}

        <div class="content-container centered">
            {% block heading %}
            {% endblock heading %}

            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages and not ('Login successful!' in messages) %}
            <div id="flash" class="flashed-message-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>